<form (submit)="handleSubmit()" [formGroup]="form">
  <label> Titre :
    <input [class.invalid]="titreInvalid" type="text" name="titre" formControlName="titre">
    <p *ngIf="hasError('titre','required')">Le titre est requis</p>
    <p *ngIf="hasError('titre','minlength')">Le titre dois contenir au moins 10 caractères</p>
  </label>
  <label> Lien :
    <input [class.invalid]="isInvalid('postLink')"  type="text" name="href"  formControlName="postLink">
    <p *ngIf="isInvalid('postLink')">Le lien est requis</p>
  </label>
  <label> Source Image :
    <input [class.invalid]="isInvalid('imageSrc')"  type="text" name="src" formControlName="imageSrc">
    <p *ngIf="isInvalid('imageSrc')">Le source de l'image est requise</p>
  </label>
  <label> Image Alt :
    <input type="text" name="alt" formControlName="imageAlt">
  </label>
  <label> Texte :
    <input [class.invalid]="isInvalid('description')" type="text" name="text" formControlName="description">
    <p *ngIf="isInvalid('description')">La description est requise</p>
  </label>
  <input type="submit" value="Enregistrer" [disabled]="form.pristine || form.invalid">
</form>
<p>Value : {{stringify(form.value)}}</p>
